In [3]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
import pandas as pd
from sklearn import datasets as dst
print("tout est ok")

iris = dst.load_iris()
digits = dst.load_digits()

digits.keys()

tout est ok

dict_keys(['data', 'target', 'frame', 'feature_names', 'target_names', 'images', 'DESCR'])

In [6]:
dnne = sb.load_dataset("titanic")
dnne.drop(dnne.iloc[: ,4:],axis=1).head()

   survived  pclass     sex   age
0         0       3    male  22.0
1         1       1  female  38.0
2         1       3  female  26.0
3         1       1  female  35.0
4         0       3    male  35.0